In [13]:
import datascience
from datascience import *

def extract_table(data,name):
    table1 = data.where("姓名",name)
    date = table1[2]
    time = table1[3]
    subject = table1[4]
    classroom = table1[5]
    return [date,time,subject,classroom]

name = input('请输入待查询的名字：')

form1 = Table.read_table('hadoop.csv')
form2 = Table.read_table('hive.csv')
form3 = Table.read_table('spark.csv')
form4 = Table.read_table('高数监考表.csv')

form1.show()
          
column0 = extract_table(form1,name)
column1 = extract_table(form2,name)
column2 = extract_table(form3,name)
column3 = extract_table(form4,name)


date = (column0[0],column1[0],column2[0],column3[0])
time = (column0[1],column1[1],column2[1],column3[1])
subject = (column0[3],column1[3],column2[3],column3[3])
classroom = (column0[2],column1[2],column2[2],column3[2])

results=Table().with_columns("日期",date,"时间",time,"科目",subject,"教室",classroom)
results

请输入待查询的名字：刘盼

日期             | 时间              | 科目         | 教室
['2022/11/14'] | ['14:30-16:30'] | ['hadoop'] | ['理一B312']
[]             | []              | []         | []
['2022/11/15'] | ['8:30-10:30']  | ['spark']  | ['理一A313']
['2022/11/14'] | ['8:30-10:30']  | ['高数']     | ['理一A313']